<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    {% if message %}
    <p>
        <strong>{{message}}</strong>
    </p>
    {% endif %}
    <form action="{% url 'shop:register' %}" method="POST">
        {% csrf_token %}
        Username:
        <input type="text" name="username">
        <br>
        Password:
        <input type="password" name="password" id="">
        <br>
        Verify:
        <input type="password" name="verify" id="">
        <br>
        <button type="submit">注册</button>
    </form>
    <a href="{% url 'shop:login' %}">Login</a>
</body>

</html>